@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body style="background-color: black">
<h1 style="color: white">Hi</h1>
</body>
