@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<html>

<link rel="stylesheet" href="~/css/FormStyle.css" />




<div class="login-form">
    <form asp-action="Form" method="post">
        @model Library.Models.Person
        @{
            ViewData["Title"] = "Log In";
        }

        <h1>@ViewData["Title"]</h1>



        <div class="row">
            <div class="col mb-2 p-2">
                <input type="text" id="Username" name="Username" value="" placeholder="Username">
            </div>
        </div>


        <div class="row">
            <div class="col mb-2 p-2">
                <input type="password" id="Password" name="Password" value="" placeholder="Password">
            </div>
        </div>

        <div class="row">
            <div class="col mb-2 p-2">
                <button class="btnn">LOG IN</button>
            </div>
        </div>

        <p class="link">
            Don't have an account
            <br>
            <a href="#">Sign Up</a> Here</a>
        </p>

        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <p style="color:red;">@ViewBag.Message</p>
        }



    </form>
</div>

</html>