<body class="home-page">

    @{
        ViewData["Title"] = "Home Page";
    }
    <div class="text-center">
        <h1 class="h1 display-5">Welcome</h1>
        <h1 class="h2 display-5">To My</h1>
        <h1 class="h3 display-5">Personal</h1>
        <h1 class="h4 display-5">Library</h1>


    </div>
</body>
